@charset "UTF-8";

body {
    background-color: sandybrown;
}

h1 {
    color: white;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    outline: auto;
}